name: build

on: push

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.1'
          channel: stable
      - name: install pub get
        run: flutter pub get
      - name: format and analyse
        run: |
          flutter format --set-exit-if-changed .
          flutter analyze
      - name: test
        run: flutter test
      - name: Build apk
        run: |
          flutter build apk --debug
  build-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.0.1'
          channel: stable
      - name: Build IOS
        run: |
          flutter pub get
          flutter build ios --debug --no-codesign